{% extends './layout.html' %}

{% block title %}{{cliente.1}}{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{{url_for("static",filename="css/index_admin.css")}}">
{% endblock %}

{% block body %}
</head>
<div class="loader_bg">
  <div class="leap-frog">
    <div class="leap-frog__dot"></div>
    <div class="leap-frog__dot"></div>
    <div class="leap-frog__dot"></div>
  </div>
</div>

<body id="body-pd">
  <div class="l-navbar" id="navbar">
    <nav class="nav">
      <div>
        <div class="nav__brand">
          <img src="{{url_for('static',filename="img/logo.jpg")}}" alt="Logo" class="photoNav" />
          <a href="/" class="nav__logo">Cupa Burger</a>
        </div>
      </div>

      <div class="nav__list">
        <a href="/index" class="nav__link">
          <ion-icon name="home-outline" class="nav__icon"></ion-icon>
          <span class="nav__name">Inicio</span>
        </a>


        <a href="/">
          <div class="nav__link collapse" id="usuario">
            <ion-icon name="document-text-outline" class="nav__icon"></ion-icon>
            <span class="nav__name">Gestionar Pedidos</span>
          </div>
        </a>

        <a href="/gestionarProductos">
          <div class="nav__link active" id="instructores">
            <ion-icon name="grid-outline" class="nav__icon"></ion-icon>
            <span class="nav__name">Gestionar Productos</span>
          </div>
        </a>

        <a href="/gestionarUsuarios">
          <div class="nav__link collapse" id="instructores">
            <ion-icon name="people" class="nav__icon"></ion-icon>
            <span class="nav__name">Gestionar Usuarios</span>
          </div>
        </a>


        <a href="/facturas">
          <div class="nav__link collapse" id="instructores">
            <ion-icon name="receipt-outline" class="nav__icon"></ion-icon>
            <span class="nav__name">Facturador</span>
          </div>
        </a>

        <a href="#" class="nav__link">
          <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
          <span class="nav__name">Ajustes</span>
        </a>
      </div>

      <a href="../index.html" class="nav__link">
        <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
        <span class="nav__name">Cerrar sesion</span>
      </a>
    </nav>
  </div>

  <header>
    <ion-icon name="reorder-three" class="nav__toggle" id="nav-toggle"></ion-icon>


    <div class="showHora">
      <div class="time">
        <span id="hora">00:00</span>
      </div>
    </div>
  </header>

  <section>
    <section>
      <div class="contenido">
        <h2><a href="01-ListaInstructores.html"> Gestion Clientes</a></h2>
        <div class="usuarios">

          <div class="table_header">
            <h2>Vas a editar al cliente: <span style="color: black;">{{cliente.1}} {{cliente.2}}</span> </h2>
            <button class="shadow__btn" id="open">
              Editar Cliente <ion-icon name="create-outline" id="add"></ion-icon>
            </button>
          </div>

          
          <div class="table_fotter">
            
            {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages%}
          <p>{{message}}</p>
          {% endfor %}
          {% endif %}
          {% endwith %}
          </div>
        </div>
      </div>
      </div>

      

      <!-- EDITAR MODAL -->
      <div id="modal_container" class="modal-container">
        <div class="modal">
          <form class="form" method="POST" action="/editarClientes/{{cliente.0}}">
            <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
            <p class="title">Editar Cliente</p>
            <p class="message">Ten en cuenta el Cliente que editaras.</p>
            <div class="flex">
              <label>
                <input placeholder="" type="text" class="input" name="nombreCli" value="{{cliente.1}}">
                <span>Nombres</span>
              </label>
              
              <label>
                <input placeholder="" type="text" class="input" name="apellidoCli" value="{{cliente.2}}">
                <span>Apellidos</span>
              </label>

              <label>
                <input placeholder="" type="number" class="input" name="documento" value="{{cliente.0}}">
                <span>ID</span>
              </label>
            </div>
            <div class="flex">
                <div class="select">
                  <select name="tipo_cliente" id="format">
                     <option selected disabled>Selecciona un tipo de cliente</option>
                     <option value="Ocacional" name="tipo_cliente">1. Ocacional</option>
                     <option value="Frecuente" name="tipo_cliente">2. Frecuente</option>
                     
                  </select>
                </div>

            </div>

            <div class="flex">
              <label>
                <input placeholder="" type="number" class="input" name="telefono" value="{{cliente.4}}">
                <span>Telefono</span>
              </label>
  
              <label>
                <input placeholder="" type="text" class="input" name="direccion" value="{{cliente.3}}">
                <span>Direccion</span>
              </label>
            </div>
            <div class="botones-form">
              <span class="cancelar" id="close">Cancelar</span>
              <button class="crear" name="crear" type="submit">Editar</button>
            </div>
          </form>
          
        </div>
      </div>

    </section>
  </section>

  {% block script %}
  <script src="{{url_for("static",filename="js/main.js")}}"></script>

  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        setTimeout(function () {
            $(".loader_bg").fadeToggle();
        }, 1000);
    </script>
  {% endblock %}

  {% endblock %}
